<%- include('blocks/header', {bot, user, path}) %>
<% const help = {};
%>
<div class="container">
  <h2>Commands</h2>
  <% for (const category in help) { %>
    <br>
    <h3><%= category %></h3>
    <br>
    <div class="card-columns">
      <% for (const command of help[category]) { %>
        <div class="card">
          <h3 class="card-header"><%= command.help.name.toProperCase() %></h3>
          <div class="card-block">
            <p class="card-text" style="font-size: 1.0em; margin: 5px;padding-bottom: 1px"><%= command.help.description %></p>
            <h6 class="card-subtitle text-muted" style="margin:5px">Permission: <%= command.conf.permLevel %><br /><a href="#" data-toggle="modal" data-target="#<%= `${command.help.name}` %>Modal">more...</a></h6>
          </div>
        </div>
        <div id="<%= `${command.help.name}` %>Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header btn-info disabled">
                <h4 class="modal-title"><%= command.help.name %></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Usage Example: <%= command.help.usage %></p>
                <p>Command Aliases: <%= `${command.conf.aliases.join(', ')}` %></p>
              </div>
              <div class="modal-footer"><button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
<% } %>